useDynLib(flexmem)
export("threshold")
export("madvise")
export("xmem_path")
export("xmem_pattern")
export("lookup")
export(ref)
export(Reference)
exportMethods("-")
exportMethods("[")
exportMethods("[[")
exportMethods("[[<-")
exportMethods("[<-")
exportMethods("*")
exportMethods("/")
exportMethods("%*%")
exportMethods("%%")
exportMethods("+")
exportMethods("dimnames<-")
exportMethods("length<-")
exportMethods("names<-")
exportMethods(crossprod)
exportMethods(dimnames)
exportMethods(length)
exportMethods(names)
exportMethods(solve)
exportMethods(t)
