export(flexmem_threshold)
export(ref)
export(Reference)
exportMethods("-")
exportMethods("[")
exportMethods("[[")
exportMethods("[[<-")
exportMethods("[<-")
exportMethods("*")
exportMethods("/")
exportMethods("%*%")
exportMethods("%%")
exportMethods("+")
exportMethods("dimnames<-")
exportMethods("length<-")
exportMethods("names<-")
exportMethods(crossprod)
exportMethods(dimnames)
exportMethods(length)
exportMethods(names)
exportMethods(solve)
exportMethods(t)
