export(flexmem_set_pattern)
export(flexmem_threshold)
export(flexmem_set_path)
export(flexmem_get_template)
export(flexmem_lookup)
export(ref)
export(Reference)
exportMethods("-")
exportMethods("[")
exportMethods("[[")
exportMethods("[[<-")
exportMethods("[<-")
exportMethods("*")
exportMethods("/")
exportMethods("%*%")
exportMethods("%%")
exportMethods("+")
exportMethods("dimnames<-")
exportMethods("length<-")
exportMethods("names<-")
exportMethods(crossprod)
exportMethods(dimnames)
exportMethods(length)
exportMethods(names)
exportMethods(solve)
exportMethods(t)
